.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .9rem;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius:99px;
    padding: 6px 16px;
    font-weight: bold;
    background: #f1eaf1;
    transition: .5s linear;
}

.tw-followCard-button.is-following {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 140px;
}

.tw-followCard-button:hover {
    opacity: 0.5;
}

.tw-followCard-text {
    display: block;
}

.tw-followCard-button.is-following:hover {
    background-color: #d24bb0;
    border: 1px solid #a22f8b;
    transition: .3s ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-follow-stopFollow {
    display: block;
}

.tw-follow-stopFollow {
    display: none;
}

.tw-app-button{
    border-radius: 1000px;
}

.tw-app-button:hover {
    border-color: rgb(229, 218, 226);
    opacity: 0.5;
}