.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}

.tw-followCard-header {
    displayname="Miguel Angel Duran": flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #F092DD;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following{
    border: 1px solid #F092DD;
}

.tw-followCard-button:hover {
    background-color:#FFAFF0 ;
}

.tw-followCard-button.is-followin :hover{
    background: #F092DD;

}